@font-face {
    font-family: 'harsh';
    src: url(../Assessment001/assets/font/FontsFree-Net-PlaylistScript.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-family: "Old Standard TT";
    border: 1px solid #cacaca;
}

.menu {
    display: flex;
    font-size: 1.05rem;
    margin-right: 253px;
    color: #000000 !important;
}

.menu li a:hover {
    color: #fc4733;
}


.menu li {
    padding: 22px 24px 20px 20px;
    border-right: 1px solid #cacaca;
    opacity: 0.9;
    color: #000000 !important;
}

.hamburger {
    display: none;
    font-size: 1rem;
    user-select: none;
}

input[type=checkbox] {
    display: none;
}

.contact {
    border-right: none !important;
}

.header-container {
    display: flex;
    width: 100%;
    height: 60vh;
}

.bellaIcons {
    width: 23%;
    align-self: flex-end;
    display: flex;
    justify-content: end;
    height: 27vh;
}

.bellaIcons p {
    word-spacing: 12px;
    height: 4vh;
}

.fa-xl:hover {
    transform: scale(1.3, 1.3);
    transition: 0.5s ease;
}
.fa-2xl:hover{
    transform: scale(1.2,1.2);
    transition: 0.5s ease;
}
.bellaLogo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bellaLogo h1 {
    font-size: 6.75rem;
    width: 33%;
    color: #464646;
    font-family: 'Birthstone Bounce', cursive;
}

.bellaLogo p {
    opacity: 0.600;
    font-size: 1.3rem;
    color: #000000;
    font-weight: 275;
    font-family: "Montserrat";

}

.bellaSearchBar {
    width: 20%;
    align-self: flex-end;
    display: flex;
    justify-content: end;
    height: 200px;
    opacity: 0.400;
    color: #000000;
    font-weight: 275;
    font-style: italic;
    font-family: "Montserrat";

}

.bellaSearchBar input {
    background-image: url(./assets/search-12-24.png);
    background-repeat: no-repeat;
    height: 35px;
    padding: 20px;
    background-position: 95%;
}

.welcome-container {
    height: 86.5vh;
    background-image: url(.//assets/boatsea.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 2.5rem;
    letter-spacing: -1px;
    line-height: 57px;
    font-family: "Old Standard TT";
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.void-div-for-margin {
    height: 10vh;
}

.read-more {
    height: 55px;
    width: 130px;
    background-color: #fc4733;
    color: white;
    text-align: center;
    border: #fc4733;
    margin-top: 15px;
    border-radius: 3px;
    transition: 3s ease-in-out;
}
.read-more:hover{
    background-color: black;
    transform: rotate(360deg);
}
.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    width: 89%;
    display: flex;
    height: auto;
    justify-content: space-between;

}

.left-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modelImage-container {
    border: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    height: 29.97%;
    width: 100%;
    align-items: center;
}


.modelImage-container span {
    margin-top: 20px;
    font-family: "Old Standard TT";
    margin-bottom: 25px;
}

.modelImage-container a {
    margin: 20px 0 35px 0;
}

.commonparagraph {
    font-family: "Old Standard TT";
    opacity: 0.702;
    font-size: 18px;
    line-height: 15px;
    color: #464646;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}


.image-header {
    font-size: 2.5rem;
    letter-spacing: -2px;
    line-height: 47px;
    color: #555555;
    font-weight: 400;
    font-family: "Old Standard TT";
    text-align: center;
    padding-top: 25px;

}

.modelImage-container img {
    width: 100%;
    height: 50%;
    margin-top: 40px;
    margin-bottom: 20px;

}

.model-links {
    opacity: 1;
    background-color: #ecf8f8;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 120%;
    text-align: center;
}

.cardlinks {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 12.1vh;
    border-top: 1px solid #e2e2e2;
    margin-top: 20px;

}
.cardlinks .defaultcoloricons i{
    color: black;
    gap: 1em;
}
.main-cardcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-container {
    width: 99.7%;
    display: flex;
    margin-top: 8%;
    gap: 4rem;

}

.cards {
    width: 100%;
    border: 1px solid #e2e2e2;
    text-align: center;
    line-height: 180%;
}

.cards img {
    width: 99.878%;
}

.cards span {
    font-family: "Old Standard TT";
    margin-bottom: 25px;

}

.heading-caption {
    font-size: 28px;
    letter-spacing: -1px;
    color: #464646;
    font-weight: 400;
    font-family: "Old Standard TT";
    text-align: center;
    margin: 20px 0px 25px 0px;
}

.cards-caption {
    font-family: "Old Standard TT";
    opacity: 0.702;
    font-size: 18px;
    line-height: 15px;
    color: #464646;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.loadmore {
    height: 300px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.loadmore button {
    height: 55px;
    width: 130px;
    color: white;
    text-align: center;
    border: #fc4733;
    border-radius: 3px;
    color: #252525;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
    transition: transform 3s ease;
}
.loadmore button:hover{
    transform: rotate(360deg);
    background-color: #000000;
    color: white;
}
.right-container {
    width: 32%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    height: auto;
    flex-direction: column;

}

.aboutAuthor-section {
    font-size: 18px;
    line-height: 28px;
    color: #464646;
    background-color: #ecf8f8;
    font-weight: 400;
    font-family: "Old Standard TT";
    text-align: center;
    align-self: flex-start;
    height: 88%;
    width: 100%;
    border: 1px solid #adc3ca;
    padding-top: 40px;

}

.aboutAuthor-section a {
    color: #fc4733;
    line-height: 400%;
    text-decoration: underline;
}

.aboutAuthor-section img {
    margin: 30px 0 30px 0;
}

.aboutsection-Icons {
    border-top: 1px solid #adc3ca;
    height: 100px;
    padding: 20px;
    width: 100%;

}

.share-aboutsection .fa-square-facebook,.bellaIcons .fa-square-facebook{
    color: blue;
}
.share-aboutsection .fa-instagram,.bellaIcons .fa-instagram{
    color: #a9561e;
}
.share-aboutsection .fa-twitter,.bellaIcons .fa-twitter{
    color: #81e2e9;
}
.share-aboutsection .fa-pinterest,.bellaIcons .fa-pinterest{
    color: rgb(218, 50, 190);

}
.share-aboutsection .fa-google-plus-g,.bellaIcons .fa-google-plus-g{
    color: #27d624;
}
.share-aboutsection {
    word-spacing: 20px;
}
.cards a{
    color: #fc4733; 
    text-decoration: underline;
}

.categories {
    height: 88%;
    width: 100%;
    border: 1.7px solid #adc3ca;
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin-top: 45px;
}

.categories h1 {
    font-weight: 700;
    font-family: "Old Standard TT";
    padding-bottom: 20px;
}

.categories .hobbies {
    border-top: 1px solid #adc3ca;
    font-size: 1.125rem;
    padding: 20px 0 20px 0;
    font-weight: 700;
    font-family: "Old Standard TT";
}
.hobbies:hover{
    transition: 0.5s ease;
    color: #da2c2c;
    text-decoration: underline;
}
.categories h1:hover{
    transition: 0.5s ease;
    color: #da2c2c;
    text-decoration: underline;
}

.mostread {
    width: 100%;
    border: 1px solid #adc3ca;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    padding: 20px 0px 20px 0;
    gap: 2em;
}

.mostread h1 {
    font-weight: 700;
    font-family: "Old Standard TT";
    padding-bottom: 20px;
}

.flex-boxread {
    width: 10vw;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.flex-boxread a {
    text-decoration: underline;
}

.readers-corner {
    width: 80%;
    border-top: 1px solid #adc3ca;
    padding: 20px 0 20px 0;
    font-family: "Old Standard TT";
    display: flex;
    gap: 2em;
    transition: width 2s;
}
.readers-corner:hover{
    width: 90%;
}
.readers-corner p {
    width: 80%;
}

.facebook-ad {
    height: 29vh;
}

.tags-container {
    font-weight: 700;
    font-family: "Old Standard TT";
    line-height: 300%;
}

.tags-container h1 {
    color: #464646;
    font-weight: 400;
}

.tags-container button {
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: 14px;
    opacity: 0.5;

}

.tags-container button:nth-child(2) {
    background-color: rgb(171, 213, 230);

}

.tags-container button:nth-child(3) {
    background-color: purple;
}

.tags-container button:nth-child(4) {
    background-color: brown;
}

.tags-container button:nth-child(5) {
    background-color: rgb(119, 40, 3);
}

.tags-container button:nth-child(6) {
    background-color: rgb(97, 188, 224);
}

.tags-container button:nth-child(7) {
    background-color: rgb(235, 116, 61);
}

.tags-container button:nth-child(8) {
    background-color: #5072A7;
}

.tags-container button:nth-child(9) {
    background-color: olive;
}

.tags-container button:nth-child(10) {
    background-color: darkgreen;
}

.forspacing {
    height: 50px;
}

.twitterfeeds {
    border: 1px solid #adc3ca;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 95%;
}

.twitterfeeds h1 {
    padding: 35px;
    color: #464646;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Old Standard TT";
    border-bottom: 1px solid #adc3ca;
}

.tweetsbyall a {
    color: #007ec6;

}

.tweetsbyall {
    font-size: 1.25rem;
    font-family: "Montserrat";
    text-align: center;
    opacity: 0.502;
    padding-top: 40px;
    width: 80%;
    justify-self: center;
    align-self: center;
}

.followus {
    height: 11vh;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background-color: #00b9ff;
    font-weight: 400;
    font-family: "Old Standard TT";
    margin-top: 20px;
    padding-top: 22px;
    transition: transform 3s ease;
}
.followus:hover{
    transform: rotate(45deg,45deg);
    color: black;
}
.newsletter {
    background-image: url(.//assets/Layer\ 25\ copy.png), url(.//assets/Layer\ 25.png);
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    background-size: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 67vh;
    flex-direction: column;
    color: #252525;
    font-weight: 200;
    font-family: "Old Standard TT";
    text-align: center;
    gap: 2.5em;

}

.newsletter input {
    height: 7vh;
    width: 18vw;
    padding-left: 10px;
    color: #cacaca;
    border: none;

}

.newsletter button {
    height: 7vh;
    width: 8vw;
    color: white;
    background-color: black;
    border: none;

}

.footer-images {
    display: flex;
    flex-wrap: wrap;
}

.footer-images img {
    width: 16.665%;
}
.footer-images img:hover{
    background-color: black;
}

.copyright {

    background-color: rgb(192, 220, 236);
    height: 20vh;
    letter-spacing: -1px;
    line-height: 85px;
    color: #000000;
    font-weight: 400;
    font-family: "Old Standard TT";
    text-align: center;

}

.logo h3 {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width:550px) and (min-width:350px) {
    .navbar {
        height: 8vh;
    }

    .logo {
        font-size: 3.0rem;
        color: #464646;
        font-weight: 400;
        margin-left: 1vh;
        width: 50%;

    }

    .logo h3 {
        display: block;
        font-family: 'Kristi', cursive;

    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: #aad9eb;
        z-index: 1;
    }

    .menu li:hover {
        display: inline-block;
        color: #fc4733;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
        font-size: 2.1rem;
        margin-right: 1vh;
    }

    .bellaIcons {
        display: none;
    }

    .bellaLogo {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 35vh;
    }

    .bellaLogo h1 {
        font-size: 5.5rem;
        width: 60%;
        color: #464646;
    }

    .bellaLogo p {
        opacity: 0.600;
        font-size: 0.85rem;
        color: #000000;
        font-weight: 275;
        font-family: "Montserrat";
    }

    .bellaSearchBar {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }

    .header-container {
        flex-direction: column;
        height: 37vh;
    }

    .welcome-container {
        font-size: 1rem;
        background-position: center;
        background-size: 150vh;
        line-height: 250%;
        height: 70vh;

    }

    .welcome-container h4 {
        font-size: 1.4rem;
    }

    .left-container {
        width: 100%;
    }

    

    .main-cardcontainer {
        width: 100%;

    }

    .card-container {
        width: 100%;
        gap: 0.5em;
    }

    .cards {
        width: 60%;
    }

    .cards img {
        height: 19vh;
    }
    
    .share-aboutsection {
        width: 100%;
        font-size: 1.1rem;
        line-height: 200%;
    }

    .flex-container {
        flex-direction: column;
    }

    .right-container {
        width: 100%;
        justify-content: center;
    }

    .aboutAuthor-section {
        width: 100%;
    }

    .readers-corner {
        flex-direction: column;
    }

    .readers-corner img {
        height: 30vh;
    }

    .flex-boxread {
        flex-direction: column;
        text-align: center;
        width: 99%;
        align-items: center;
        justify-content: center;
    }

    .twitterfeeds {
        width: 100%;
        margin-bottom: 5vh;
    }

    .newsletter {
        height: 30vh;
        margin-bottom: 10vh;
        background-size: 200vh;
        height: 60vh;
        text-align: center;
    }

    .newsletter-inputs {
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 1.5em;
    }

    .newsletter-inputs input,
    .newsletter-inputs button {
        width: 89%;
        text-align: center;
    }

    .copyright {
        height: 15vh;
        line-height: 22px;
        padding-top: 3.5vh;

    }
}

;
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
